body {
  margin: 0;
  font-family: "Consolas", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-left: 90px;
  scroll-behavior: smooth;
  background-color: #1e1e1e; /* This is an approximation of the color from the VS Code editor area in the screenshot */
  color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.contact-form {
  flex: 1;
  background: linear-gradient(to bottom, #0099ff, #66ccff);
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0;
  min-width: 0; /* This allows for flex-shrinking, preventing overflow */
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.contact-form button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(to bottom, #0099ff, #66ccff);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.3s ease;
}

.contact-form button:hover {
  background: linear-gradient(to bottom, #0077cc, #0099ff);
}

.contact-page {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 90px; /* Surrounding padding */
  height: calc(100vh - 180px); /* Adjust for the added padding */
}

.map-component {
  flex: 1;
  height: 100%;
  width: calc(50% - 90px); /* Accounting for the 60px padding */
  overflow: hidden;
}

.container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 90px;
  background-color: #333842;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-icon {
  margin: 10px 0;
  text-align: center;
}

.map-component .leaflet-container {
  height: 100vh !important;
}

.full-screen-section {
  min-height: 100vh; /* Will occupy at least one full viewport height */
  padding: 90px;
  box-sizing: border-box; /* This ensures that the padding is included in the height */
  overflow-y: auto; /* Allows vertical scrolling if content exceeds the viewport height */
}

/* Bright Green for the first icon */
.navbar .faIcon1 {
  color: #ebd234;
}

/* Magenta for the second icon */
.navbar .faIcon2 {
  color: #ebd234;
}

/* Cyan for the third icon */
.navbar .faIcon3 {
  color: #ebd234;
}

.navbar .faIcon1:active,
.navbar .faIcon2:active,
.navbar .faIcon3:active {
  color: #ffffff; /* This changes the color to white when the icons are being clicked */
}

html {
  scroll-behavior: smooth;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertically center */
  align-items: center; /* horizontally center */
  height: 100vh; /* 100% of the viewport height */
  text-align: center; /* center the text */
}

button {
  background-color: #333; /* or any color you prefer */
  color: #fff; /* text color */
  padding: 10px 20px; /* button padding */
  border: none; /* removes border */
  cursor: pointer; /* hand cursor on hover */
  transition: 0.3s; /* smoothens the hover effect */
}

button:hover {
  background-color: #555; /* slightly lighter on hover */
}
