body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-left: 90px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.contact-form {
  flex: 1;
  background: linear-gradient(to bottom, #0099ff, #66ccff);
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0;
  min-width: 0; /* This allows for flex-shrinking, preventing overflow */
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.contact-form button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(to bottom, #0099ff, #66ccff);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.3s ease;
}

.contact-form button:hover {
  background: linear-gradient(to bottom, #0077cc, #0099ff);
}

.contact-page {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 90px; /* Surrounding padding */
  height: calc(100vh - 180px); /* Adjust for the added padding */
}

.map-component {
  flex: 1;
  height: 100%;
  width: calc(50% - 90px); /* Accounting for the 60px padding */
  overflow: hidden;
}

.container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 90px;
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-icon {
  margin: 10px 0;
  text-align: center;
}

.map-component .leaflet-container {
  height: 100vh !important;
}
